.journal-card {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    width: 700px;
    max-width: 700px;


  }
  
  .journal-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .journal-card-dropdown-container {
    position: relative;
  }

.journal-stack {
  display: flex;
  flex-direction: column;
}

.journal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.journal-name-and-date{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.date-stamp{
  font-size: 14px;
  color: lightslategray;

}
  
  .journal-card-dropdown-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    padding: 0;
    right: 15px;
    top: 15px;
    width: 16px;
  }
  
  .journal-card-dropdown-icon {
    background-color: #777;
    height: 2px;
    width: 16px;
  }
  
  .journal-card-dropdown-menu {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 120px;
    z-index: 1;
  }
  
  .journal-card-dropdown-item {
    cursor: pointer;
    padding: 5px 0;
  }
  
  .journal-card-dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .journal-card-dropdown-item.danger {
    color: #d9534f;
  }