/* TODO Add site wide styles */

.general-task-container{
    min-width: 373px;
    min-height: 441px;
    background: #E8E8E8;
    border-radius: 5px;
    margin: 15px;
}

.home-page-task-layout h3{

    margin-left: 25px;
}