/* TODO Add site wide styles */

.general-task-container{
    min-width: 380px;
    max-width: 380px;
    min-height: 500px;
    background: #EDECEE;
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 100px;
}

.home-page-task-layout h3{

    margin-left: 25px;
}

*{
    font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;

  }
  
  html body {
    padding: 0;
    margin: 0;
    overflow-y: inherit;
  }

  .error-ul{
    list-style-type: none;
    color: black;
  }


.error-ul-sign-in{
  list-style-type: none;
    color: white;
}
