/* TODO Add site wide styles */

.general-task-container{
    min-width: 380px;
    max-width: 380px;
    min-height: 500px;
    background: #EDECEE;
    border-radius: 5px;
    margin: 15px;
}

.home-page-task-layout h3{

    margin-left: 25px;
}

*{
    font-family: 'Lato', sans-serif;
}

