/* .profile-dropdown {
  position: absolute;
} 

.hidden {
  display: none;
}  */


body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

nav {
  position: relative;
}

nav .line {
  height: 2px;
  position: absolute;
  bottom: 15px;
  background: #FF1847;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 40px 0 0;
  opacity: .4;
  transition: all 0.4s ease;
}

nav ul li:hover {
  opacity: .7;
}

nav ul li.active {
  opacity: 1;
}

/* nav ul li:last-child {
  margin-right: 0;
} */

nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: .2em;
  font-size: 14px;
}

