.card-form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-color: #EDECEE;
  border-radius: 5px;
}

.card-details {
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 8px 0px;
  margin-bottom: 15px;
  border: 1px solid #432874;
  border-radius: 5px;
}

.card-element-container {
  margin-bottom: 15px;
  border: 1px solid #432874;
  border-radius: 5px;
  padding: 8px;
}

.card-element {
  width: 100%;
  color: #36205D;
}

.save-card-btn,
.delete-card-btn {
  background-color: #432874;
  color: #EDECEE;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-card-btn:disabled {
  background-color: #36205D;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.first-last-name-stripe-form {
  display: flex;
  align-items: center;
  gap: 15px;
}


.first-last-name-stripe-form .input-field {
  padding-left: 10px;
}