.credit-card-container {
    background: linear-gradient(135deg, #19294e, #4d4e88);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
  }
  
  .cool-header {
    color: #ffffff;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .StripeElement {
    background-color: transparent;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  

  .stripe-form {
    margin-top: 1rem;
  }
  
  .save-btn {
    background-color: #4d4e88;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    transition: background-color 0.3s;
  }
  
  .save-btn:hover {
    background-color: #3c3d76;
  }
  
  .message {
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
  }