.profile-bg {
  background-color: #36205D;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;

  
}


.profile-header{
  text-align: center;
}

.profile-stats-grid {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(5, 1fr);
  

}

.profile-stats-item {

  border-radius: 0.5rem;
  text-align: center;
}

.profile-stats-value {
  display: block;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.money-lost-stats{
  text-align: center;
}

.money-stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
