.break-habit-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .input-container {
    flex-grow: 1;

  }
  
  .button-container {
    flex-shrink: 0;
  }
  
  .break-habit-form input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .break-habit-form button {
    background-color: #007bff;
    height: 30px;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  .break-habit-form button:hover {
    background-color: #0069d9;
  }
  