.journals-page{
    display: flex;
    flex-direction: column;
    min-height: 95vh;

}
    
.journal-container-page-layout{
/* background-color: yellow; */
}

.journals-page h1 {
margin-left: auto;
margin-right: auto;

}
.journal-page-individual-entries{
    margin-top: 250px;
}