.profile-container {

  background-color: #EDECEE;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);



}

.edit-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.profile-header-user {
  color: black;
  text-align: flex-start;
  margin-bottom: 1rem;
}

.profile-label {
  color: black;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.profile-info {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.edit-buttons-container {
  display: flex;
  justify-content: flex-end;
}


